<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwF9yJiEHYn1gPuvwoVEzLBzrs_6IjZwU</string>
	<key>GCM_SENDER_ID</key>
	<string>530114298352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fluttercrud-97a87</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercrud-97a87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530114298352:ios:88e380d37ed4f8d34fdd35</string>
</dict>
</plist>